body{
    background-color: lightgreen
}
h1{
    background-color: azure;
    color:navy;
}

#show_sketch{
    float: right;
}
#score{
    font-size: 20px;
    color:black;
    margin-left: 10px;
    float:right;
}
#timer{
    font-size: 20px;
    color:black;
    margin-right: 10px;
    float:left;
}
p{
 font-size: 30px;
color: black;
}

#sketch_to_be_drawn{
    color:navy;
    font-size:25px;
}









